<div class="col-12 col-md-4">
  <div class="card mb-4">
    <% link = recipe.source_type_external? ? recipe.original_url : [recipe.user, recipe] %>
    <%= link_to link, target: (:_blank if recipe.source_type_external?) do %>
      <%= image_tag recipe.poster.representation(resize_to_fill: [634, 400]), class: 'card-img-top h-100', size: '634x400' %>
    <% end %>

    <div class="card-img-overlay bg-gradient" style="height:3rem;">
      <h5 class="card-title mb-1 h6 text-white text-truncate">
        <%= link_to [recipe.user, recipe], class: 'text-reset text-decoration-none' do %>
          <%= recipe.name %>
        <% end %>
      </h5>
    </div>

    <div class="card-body">
      <% if recipe.sensor %>
        <div style="margin-top: -55px; margin-bottom: 30px">
          <a class="badge text-bg-dark text-decoration-none" href="<%= sensor_path(recipe.sensor.slug) %>"><%= recipe.sensor.name %></a>
          <% if recipe.source_type_external? %>
            <abbr href="" class="badge text-bg-light text-decoration-none opacity-50" title="External recipe, hosted on another website">E↗</abbr>
          <% end %>
        </div>
      <% end %>

      <h5 class="card-title mb-1 h6 d-none">
        <%= link_to [recipe.user, recipe], class: 'text-reset text-decoration-none' do %>
          <%= recipe.name %><% if recipe.source_type_external? %> <small class="text-muted" title="External recipe" data-bs-toggle="tooltip" data-bs-placement="right">↗</small><% end %>
        <% end %>
      </h5>

      <div class="card-text text-muted small">
        <%= link_to recipe.user, class: 'text-reset text-decoration-none' do %>
          <%= image_tag avatar_url(recipe.user), class: 'rounded-circle', size: '15x15' %>
          <%= recipe.user.display_name || recipe.user.username %>
        <% end %>

        <% if recipe.parent %>
          <div class="d-inline opacity-50">
            &bull; Forked from <%= link_to recipe.parent.name, [recipe.parent.user, recipe.parent], class: 'text-reset' %> by <%= link_to (recipe.parent.user.display_name || recipe.parent.user.username), recipe.parent.user, class: 'text-reset' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
