<div class="card mb-4">
  <%= link_to [recipe.user, recipe] do %>
    <%= image_tag recipe.poster.representation(resize_to_fill: [634, 400]), class: 'card-img-top' %>
  <% end %>

  <div class="card-body">
    <% if recipe.sensor %>
      <div style="margin-top: -55px; margin-bottom: 30px">
        <span class="badge text-bg-dark"><%= recipe.sensor %></span>
      </div>
    <% end %>

    <h5 class="card-title mb-1"><%= link_to recipe.name, [recipe.user, recipe], class: 'text-reset text-decoration-none' %></h5>
    <div class="card-text text-muted small">
      <% if recipe.original_author.present? %>
        <%= recipe.original_author %> via
      <% end %>

      <%= link_to recipe.user, class: 'text-reset text-decoration-none' do %>
        <%= image_tag recipe.user.avatar.representation(resize_to_fill: [30, 30]), class: 'rounded-circle', size: '15x15' %>
        <%= recipe.user.display_name || recipe.user.username %>
      <% end %>

      <% if recipe.parent %>
        <div class="d-inline opacity-50">
          &bull; Forked from <%= link_to recipe.parent.name, [recipe.parent.user, recipe.parent], class: 'text-reset' %> by <%= link_to (recipe.parent.user.display_name || recipe.parent.user.username), recipe.parent.user, class: 'text-reset' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
