<div id="<%= dom_id recipe %>">
  <div class="row mb-3 align-items-center justify-content-between">
    <div class="col-6">
      <h1 class="mb-0"><%= recipe.name %></h1>
      <% if recipe.original_author.present? %>
        <span class="text-muted"><%= recipe.original_author %> via</span>
      <% end %>

      <%= link_to recipe.user, class: 'text-decoration-none' do %>
        <%= image_tag recipe.user.avatar.representation(resize_to_fill: [15, 15]), class: 'rounded-circle', size: '15x15' %>
        <%= recipe.user.display_name || recipe.user.username %>
      <% end %>

      <% if recipe.parent %>
        <div class="text-muted small d-inline">
          &bull; Forked from <%= link_to recipe.parent.name, [recipe.parent.user, recipe.parent], class: 'text-reset' %> by <%= link_to (recipe.parent.user.display_name || recipe.parent.user.username), recipe.parent.user, class: 'text-reset' %>
        </div>
      <% end %>
    </div>

    <div class="col-auto text-right">
      <% if @recipe.saved_by?(current_user) %>
        <a class="btn btn-success" href="<%= recipe_toggle_save_path(@recipe) %>" data-method="post">Saved</a>
      <% else %>
        <a class="btn btn-outline-secondary <%= 'disabled' unless user_signed_in? %>" href="<%= recipe_toggle_save_path(@recipe) %>" data-method="post">Save</a>
      <% end %>

      <% if recipe.source_type_local? %>
        <a class="btn btn-outline-secondary" href="<%= new_local_recipes_path(fork_of: @recipe.to_param) %>">Fork</a>
      <% end %>

      <% if current_user == @recipe.user %>
        <a href="<%= edit_recipe_path(@recipe) %>" class="btn btn-outline-secondary">Edit</a>
      <% end %>
    </div>
  </div>

  <% if recipe.source_type_external? %>
    <div class="card mb-3 text-bg-light">
      <div class="row g-0">
        <div class="col-md-4">
          <%= link_to recipe.original_url, target: :_blank do %>
            <%= image_tag recipe.poster.representation(resize_to_fill: [880, 420]), class: 'img-fluid rounded-start h-100' %>
          <% end %>
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">External recipe for <%= recipe.sensor.name %></h5>
            <p class="card-text">Original author of this recipe and photos is <strong><%= recipe.original_author %></strong> and this recipe is hosted outside fujixrecipes.
            Ownership will be transfered to a proper account in cause of him/her opening one. Use the link below to see the original recipe.</p>

            <p class="card-text text-muted small">If you are the author and you don't want this recipe to be here, please reach me at <a href="https://instagram.com/mbajur" class="alert-link" target="_blank">@mbajur</a></p>

            <hr>

            <a href="<%= recipe.original_url %>" class="alert-link" target="_blank">See original recipe ↗</a>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-12 col-md-8">
        <p>
          <%= image_tag recipe.poster.representation(resize_to_fill: [880, 550]), class: 'img-fluid' %>
        </p>

        <% if recipe.photo_1.attached? %>
          <p>
            <%= image_tag recipe.photo_1.representation(resize_to_fill: [880, 550]), class: 'img-fluid' %>
          </p>
        <% end %>

        <% if recipe.photo_2.attached? %>
          <p>
            <%= image_tag recipe.photo_2.representation(resize_to_fill: [880, 550]), class: 'img-fluid' %>
          </p>
        <% end %>

        <div class="lead">
          <%= simple_format recipe.description %>
        </div>
      </div>

      <div class="col">
        <dl class="row sticky-top pt-3">
          <dt class="col-sm-7">Sensor</dt>
          <dd class="col-sm-5"><%= link_to recipe.sensor&.name, "/?s=#{recipe.sensor&.slug}" %></dd>

          <dt class="col-sm-7">Film simulation</dt>
          <dd class="col-sm-5"><%= recipe.film_simulation %></dd>

          <dt class="col-sm-7">Dynamic range:</dt>
          <dd class="col-sm-5"><%= recipe.dynamic_range %></dd>

          <dt class="col-sm-7">Highlights:</dt>
          <dd class="col-sm-5"><%= recipe.highlights %></dd>

          <dt class="col-sm-7">Shadows:</dt>
          <dd class="col-sm-5"><%= recipe.shadows %></dd>

          <dt class="col-sm-7">Color:</dt>
          <dd class="col-sm-5"><%= recipe.color %></dd>

          <dt class="col-sm-7">Noise reduction:</dt>
          <dd class="col-sm-5"><%= recipe.noise_reduction %></dd>

          <dt class="col-sm-7">Sharpening:</dt>
          <dd class="col-sm-5"><%= recipe.sharpening %></dd>

          <dt class="col-sm-7">Clarity:</dt>
          <dd class="col-sm-5"><%= recipe.clarity %></dd>

          <dt class="col-sm-7">Grain roughness:</dt>
          <dd class="col-sm-5"><%= recipe.grain_roughness %></dd>

          <dt class="col-sm-7">Grain size:</dt>
          <dd class="col-sm-5"><%= recipe.grain_size %></dd>

          <dt class="col-sm-7">Color chrome effect:</dt>
          <dd class="col-sm-5"><%= recipe.color_chrome_effect %></dd>

          <dt class="col-sm-7">Color chrome effect blue:</dt>
          <dd class="col-sm-5"><%= recipe.color_chrome_effect_blue %></dd>

          <dt class="col-sm-7">White balance:</dt>
          <dd class="col-sm-5"><%= recipe.white_balance %></dd>

          <dt class="col-sm-7">White balance red:</dt>
          <dd class="col-sm-5"><%= recipe.white_balance_red %></dd>

          <dt class="col-sm-7">White balance blue:</dt>
          <dd class="col-sm-5"><%= recipe.white_balance_blue %></dd>
        </dl>
      </div>
    </div>

    <hr class="my-5">
  <% end %>

  <h3 class="h4 text-center mt-5 mb-5">Other recipes</h3>
  <%= render 'recipes/recipes', recipes: @other_recipes, pagy: @pagy %>
</div>
