<%= content_for :hero do %>
  <div class="bg-dark py-4 mb-4" style="--bs-bg-opacity: .1;">
    <div class="container">
      <div class="text-center">
        <p class="lead">
          <% if @camera %>
            Showing <%= pluralize(@recipes.count, 'recipe')%> for <strong>Fujifilm <%= @camera.name %></strong>
            <% set_meta_tags title: "Fujifilm #{@camera.name}", description: "Recipes for Fujifilm #{@camera.name}" %>
          <% elsif @sensor %>
            Showing <%= pluralize(@recipes.count, 'recipe')%> compatible with <strong>Fujifilm <%= @sensor.name %></strong> sensor
            <% set_meta_tags title: "Fujifilm #{@sensor.name}", description: "Recipes for Fujifilm #{@sensor.name} sensor" %>
          <% else %>
            Welcome to Fuji X Recipes! Use the buttons below to filter our database:
          <% end %>
        </p>

        <div class="btn-group">
          <div class="dropdown">
            <a href="#" class="btn dropdown-toggle <%= @camera ? 'btn-primary' : 'btn-outline-secondary' %>" data-bs-toggle="dropdown">Camera <% if @camera %>: <strong><%= @camera.name %></strong><% end %></a>
            <ul class="dropdown-menu">
              <% Camera.all.order(name: :desc).each do |camera| %>
                <li><a class="dropdown-item <%= 'active' if @camera == camera %>" href="<%= camera_path(camera.slug) %>"><%= camera.name %></a></li>
              <% end %>
            </ul>
          </div>

          <div class="dropdown ms-2">
            <a href="#" class="btn dropdown-toggle <%= @sensor ? 'btn-primary' : 'btn-outline-secondary' %>" data-bs-toggle="dropdown">Sensor <% if @sensor %>: <strong><%= @sensor.name %></strong><% end %></a>
            <ul class="dropdown-menu">
              <% Sensor.all.each do |sensor| %>
                <li><a class="dropdown-item <%= 'active' if @sensor == sensor %>" href="<%= sensor_path(sensor.slug) %>"><%= sensor.name %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'recipes/recipes', recipes: @recipes, pagy: @pagy, saves: @saves %>
