<p style="color: green"><%= notice %></p>

<ul class="nav nav-tabs justify-content-center mb-4">
  <li class="nav-item">
    <a class="nav-link disabled">Filters:</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle <%= 'active' if @camera %>" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Camera<% if @camera %>: <strong><%= @camera.name %></strong><% end %>
    </a>
    <ul class="dropdown-menu">
      <% Camera.all.order(name: :desc).each do |camera| %>
        <li><a class="dropdown-item <%= 'active' if @camera == camera %>" href="<%= camera_path(camera.slug) %>"><%= camera.name %></a></li>
      <% end %>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle <%= 'active' if @sensor %>" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Sensor<% if @sensor %>: <strong><%= @sensor.name %></strong><% end %>
    </a>
    <ul class="dropdown-menu">
      <% Sensor.all.each do |sensor| %>
        <li><a class="dropdown-item <%= 'active' if @sensor == sensor %>" href="<%= sensor_path(sensor.slug) %>"><%= sensor.name %></a></li>
      <% end %>
    </ul>
  </li>
</ul>

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-12 col-md-4">
      <%= render 'recipes/recipe_card', recipe: recipe %>
    </div>
  <% end %>

  <% if @recipes.none? %>
    <p class="lead text-center">No recipes to show</p>
  <% end %>
</div>
