<% set_meta_tags canonical: root_url %>

<%= content_for :hero do %>
  <div class="bg-dark py-4 mb-4 text-light">
    <div class="container">
      <div class="text-center">
        <p class="lead">
          <% if @camera %>
            Showing <%= pluralize(@recipes.count, 'recipe')%> for <strong>Fujifilm <%= @camera.name %></strong>
            <% set_meta_tags title: "Fujifilm #{@camera.name}", description: "Recipes for Fujifilm #{@camera.name}", canonical: camera_url(@camera) %>
          <% elsif @sensor %>
            Showing <%= pluralize(@recipes.count, 'recipe')%> compatible with <strong>Fujifilm <%= @sensor.name %></strong> sensor
            <% set_meta_tags title: "Fujifilm #{@sensor.name}", description: "Recipes for Fujifilm #{@sensor.name} sensor", canonical: sensor_url(@sensor) %>
          <% else %>
            Welcome to Fuji X Recipes! Use the buttons below to filter our database:
          <% end %>
        </p>

        <div class="btn-group">
          <div class="dropdown">
            <a href="#" class="btn dropdown-toggle <%= @camera ? 'btn-secondary' : 'btn-outline-secondary' %>" data-bs-toggle="dropdown">Camera <% if @camera %>: <strong><%= @camera.name %></strong><% end %></a>
            <ul class="dropdown-menu">
              <% Camera.all.order(name: :desc).each do |camera| %>
                <li>
                  <a class="dropdown-item d-flex justify-content-between <%= 'active' if @camera == camera %>" href="<%= camera_path(camera) %>">
                    <div class="ms-2 me-auto">
                      <%= camera.name %>
                    </div>

                    <div>
                      <span class="badge bg-secondary rounded-pill opacity-50" title="<%= pluralize camera.recipes_count, 'recipe' %>"><%= camera.recipes_count %></span>
                    </div>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="dropdown ms-2">
            <a href="#" class="btn dropdown-toggle <%= @sensor ? 'btn-secondary' : 'btn-outline-secondary' %>" data-bs-toggle="dropdown">Sensor <% if @sensor %>: <strong><%= @sensor.name %></strong><% end %></a>
            <ul class="dropdown-menu">
              <% Sensor.all.each do |sensor| %>
                <li>
                  <a class="dropdown-item d-flex justify-content-between <%= 'active' if @sensor == sensor %>" href="<%= sensor_path(sensor) %>">
                    <div class="ms-2 me-auto">
                      <%= sensor.name %>
                    </div>

                    <div>
                      <span class="badge bg-secondary rounded-pill opacity-50" title="<%= pluralize sensor.recipes_count, 'recipe' %>"><%= sensor.recipes_count %></span>
                    </div>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'recipes/recipes', recipes: @recipes, pagy: @pagy, saves: @saves %>
